
#header-center-logo-slogan-img .bg {
	background-image: url('../images/polyana.svg');
	background-size: contain;
	-webkit-background-size: contain;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: bottom center;
	opacity: 1;
}
#desc-center-img-anim-text-btn {
	background: #eeeeee;
}
#desc-img-anim-text-btn {
	background: linear-gradient(to bottom, #d4de4e, #ffffff);
}
#desc-center-img-anim-text-btn {
	background: #eeeeee;
}
#video-text {
	background: #ffffff;
}
#desc-center-img-anim-text-btn {
	background: #eeeeee;
}#popup-form-halfbg .half-container-right {
	background-image: url('../images/pack.png');
	background-size: contain;
	-webkit-background-size: contain;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}

#gallery-fluid-carousel {
	background: #ffffff;
}

#price-single .bg {
	background-image: url('../images/bird22.png');
	background-size: contain;
	-webkit-background-size: contain;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}

#price-single {
	background: #ffffff;
}
#desc-center-img-anim-text-btn {
	background: #eeeeee;
}
#price-3col-3 {
	background: #ffffff;
}
#desc-center-img-anim-text-btn {
	background: #eeeeee;
}
#subscribe-field-text {
	background: #ffffff;
}
#desc-center-img-anim-text-btn {
	background: #eeeeee;
}
#testimonials-carousel-single-4 {
	background: #ffffff;
}


span.icons-row [class^=icon-star] {
    color: #ffd800;
}



#contact-text-map {
	background: #ffffff;
}
#desc-center-img-anim-text-btn {
	background: #eeeeee;
}
#footer-text-icon-social .bg {
	background-image: url('../images/tree2.svg');
	background-size: auto;
	-webkit-background-size: auto;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: bottom left;
	opacity: 1;
}



#footer-text-icon-social {
	background: #d4de4e;
}
#desc-center-img-anim-text-btn {
	background: #eeeeee;
}